@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  background-color: rgba(19, 19, 19, 0.36);
  backdrop-filter: blur(10px);
  border: 2px solid purple;
  box-shadow: 0 0 20px -5px purple;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  text-shadow: 0 0 10px wheat;
  transition: 250ms;
}
.button:hover {
  box-shadow: 0 0 40px 0px purple;
}
